p {
    font-size: 20px;
    font-weight: bold;

    em {
        background: yellow;
        padding: 5px;

    }
}

.grid {
    stroke: black;
    stroke-opacity: 0.1;
}

.averageLines {
    stroke: #76b7b2;
    stroke-width: 2px;
    stroke-dasharray: 4 2;
}

.xLabel {
    fill: black;
    font-weight: 600;
    text-anchor: end;
}

.yLabel {
    fill: black;
    font-weight: 600;
    text-anchor: start;
}

.chart {
    stroke: black;
    stroke-linecap: round;
    opacity: 0.2;
}

.label {
    color: black;
    stroke-width: 0px;
    font-weight: 600;
    opacity: 0.2;
    text-anchor: middle;
}

.chartHighlightRegion {
    stroke: #4e79a7;
    stroke-linecap: round;
}

.chartHighlightOperation {
    stroke: #e15759;
    stroke-linecap: round;
}

.labelHighlightOperation {
    color: black;
    stroke-width: 0px;
    font-weight: 600;
    text-anchor: middle;
}