p {
    font-size: 20px;
    font-weight: bold;

    em {
        background: yellow;
        padding: 5px;

    }
}

.grid {
    stroke: black;
    stroke-opacity: 0.1;
}

.regressionArea {
    fill: #76b7b2;
    opacity: 0.1;
}

.regressionLine {
    stroke: #76b7b2;
    stroke-dasharray: 4 2;
}

.xLabel {
    fill: black;
    font-weight: 600;
    text-anchor: end;
}

.yLabel {
    fill: black;
    font-weight: 600;
    text-anchor: start;
}

.chartArea {
    opacity: 0.2;
}

.chart {
    stroke: black;
    stroke-linecap: round;
}

.label {
    color: black;
    stroke-width: 0px;
    font-weight: 600;
    text-anchor: middle;
}

.chartOutlier {
    stroke: gray;
    stroke-linecap: round;
}

.chartHighlightRegion {
    stroke: #0072BC;
    stroke-linecap: round;
}

.chartHighlightOperation {
    stroke: #EF4A60;
    stroke-linecap: round;
}

.labelHighlightOperation {
    color: black;
    stroke-width: 0px;
    font-weight: 600;
    text-anchor: middle;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
}